<!DOCTYPE html>
<html>
<head>
  <title> RockPaperScissors</title>
    <link rel="stylesheet" media="all" href="/assets/application-e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855.css">
    <script src="/assets/application-25bd6b47ad2ef49757a639cd9dc9d7c4b137f7a0bf03bb8d13757d905d6dfcef.js"></script>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="xi+P3dyDoRK3wTKszxPKEyap+vHI5w2t//SbkxVpeS14vP5eFJJ6LIdFQl23RY2C5y8tigSvyWl1jzLPyWDyYw==">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
  </head>
<body>

<%= yield %>

</body>
</html>
